<div class="hp-partners">
  <div class="hp-partners-block lazyload" data-bg="{{ 'ritz-paris-feat-img.jpg' | asset_url }}">
    <div class="hp-partners-block-overlay">
      <img class="hp-partners-block-logo lazyload" data-src="{{ 'ritz-logo.png' | asset_url }}">
    </div>
  </div>

  <div class="hp-partners-block lazyload" data-bg="{{ 'ritz-japan-airlines.jpg' | asset_url }}">
    <div class="hp-partners-block-overlay">
      <img class="hp-partners-block-logo lazyload" data-src="{{ 'jal-logo.png' | asset_url }}">
    </div>
  </div>

  <div class="hp-partners-block lazyload" data-bg="{{ 'royal-ballet-story.jpg' | asset_url }}">
    <div class="hp-partners-block-overlay">
      <img class="hp-partners-block-logo lazyload" data-src="{{ 'royal-ballet-school-logo.png' | asset_url }}">
    </div>
  </div>
</div>
