<div class="hp-partners">
  <div class="hp-partners-block" style="background-image:url({{ 'ritz-paris-feat-img.jpg' | asset_url }})">
    <div class="hp-partners-block-overlay">
      <img class="hp-partners-block-logo lazyload" data-src="{{ 'ritz-logo.png' | asset_url }}">
    </div>
  </div>

  <div class="hp-partners-block" style="background-image:url({{ 'japan-airlines.jpg' | asset_url }})">
    <div class="hp-partners-block-overlay">
      <img class="hp-partners-block-logo lazyload" data-src="{{ 'jal-logo.png' | asset_url }}">
    </div>
  </div>

  <div class="hp-partners-block" style="background-image:url({{ 'royal-ballet-story.jpg' | asset_url }})">
    <div class="hp-partners-block-overlay">
      <img class="hp-partners-block-logo lazyload" data-src="{{ 'royal-ballet-school-logo.png' | asset_url }}">
    </div>
  </div>
</div>