<div id="productBenefits" class="features">
  <h2 class="features-header">Different At Its Core</h2>
  <div class="features-btns">
    <a href="#synchronized" class="features-btn">
      {% include 'svg-definitions' with 'synchronized-to-you' %}
      <p>Ease Of Movement</p>
    </a>
    <a href="#designed" class="features-btn">
      {% include 'svg-definitions' with 'designed-to-breathe' %}
      <p>Designed To Breathe</p>
    </a>
    <a href="#easy" class="features-btn">
      {% include 'svg-definitions' with 'easy-to-clean' %}
      <p>Easy To Clean</p>
    </a>
    <a href="#ecofriendly" class="features-btn">
      {% include 'svg-definitions' with 'eco-friendly' %}
      <p>Eco Friendly</p>
    </a>
  </div>
  <div class="features-content-wrapper">
    <div id="synchronized" class="features-content">
      <div class="features-copy">
        <h2>Ease of Movement</h2>
        <p>We all toss and turn at night but only some mattresses allow us to do this with ease and a low level of motion transfer. Our resilient airfiber core provides you with a high level of support from every angle so you feel more like you're floating on top rather than sinking into your mattress. You'll exert less energy while sleeping allowing you (and your partner) to stay in a deeper more restful sleep.</p>
        <a href="#designed" class="features-next">Next Benefit {% include 'svg-definitions' with 'right-caret' %}</a>
      </div>
      <div class="features-video">
        <video id="synchronized-video" width="100%" preload="true" poster="{{ 'secondHomepage-gamechanging4.png' | asset_url }}" onclick="playPause('synchronized-video')">
          <source src="{{ 'Homepage_Diagram_v05_H264.webm' | asset_url }}" type="video/webm">
          <source src="{{ 'Homepage_Diagram_v05_H264.mp4' | asset_url }}" type="video/mp4">
        </video>
        <div class="video-play" onclick="playPause('synchronized-video')">
          {% include 'svg-definitions' with 'play-icon' %}
        </div>
      </div>
    </div>
    <div id="designed" class="features-content">
      <div class="features-copy">
        <h2>Designed To Breathe</h2>
        <p>The interwoven airfiber core encourages airflow, which naturally regulates body temperature throughout the night to keep you comfortable.</p>
        <a href="#ecofriendly" class="features-next">Next Benefit {% include 'svg-definitions' with 'right-caret' %}</a>
      </div>
      <div class="features-video">
        <img src="{{ 'designed-to-breathe.jpg' | asset_url }}">
      </div>
    </div>
    <div id="ecofriendly" class="features-content">
      <div class="features-copy">
        <h2>Eco Friendly</h2>
        <p>While foam and spring mattresses crowd landfills, airweave is composed of a recyclable plastic airfiber core.</p>
        <a href="#easy" class="features-next">Next Benefit {% include 'svg-definitions' with 'right-caret' %}</a>
      </div>
      <div class="features-video">
        <div class="youtube-embed">
          <iframe class="youtube-video" width="100%" src="https://www.youtube.com/embed/w7lOdmu_cX4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div id="easy" class="features-content">
      <div class="features-copy">
        <h2>Easy to Clean</h2>
        <p>airweave is entirely washable to minimize dust and allergens. Simply remove the mattress cover to machine wash and rinse the airfiber core with water.</p>
      </div>
      <div class="features-video">
        <video id="easy-to-clean-video" width="100%" preload="false" poster="{{ 'easy-to-clean-preplay.jpg' | asset_url }}" onclick="playPause('easy-to-clean-video')">
          <source src="{{ '20161019_aw_water.mp4' | asset_url }}" type="video/mp4">
        </video>
        <div class="video-play" onclick="playPause('easy-to-clean-video')">
          {% include 'svg-definitions' with 'play-icon' %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// TABBED CONTENT
$('.features-btns').each(function(){
  // For each set of tabs, we want to keep track of
  // which tab is active and its associated content
  var $active, $content, $links = $(this).find('a');

  // If the location.hash matches one of the links, use that as the active tab.
  // If no match is found, use the first link as the initial active tab.
  $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
  $active.addClass('active');

  $content = $($active[0].hash);
  $content.addClass('active');

  // Hide the remaining content
  $links.not($active).each(function () {
    $(this.hash).removeClass('active');
  });

  // Bind the click event handler
  $(this).on('click', 'a', function(e){
    // Pause all videos
    pauseAll();

    // Make the old tab inactive.
    $active.removeClass('active');
    $content.removeClass('active');

    // Update the variables with the new link and content
    $active = $(this);
    $content = $(this.hash);

    // Make the tab active.
    $active.addClass('active');
    $content.addClass('active');

    // Prevent the anchor's default click action
    e.preventDefault();
  });
  $('.features-next').on('click', function(e){
    // Pause all videos
    pauseAll();

    // Make the old tab inactive.
    $active.removeClass('active');
    $content.removeClass('active');

    // Update the variables with the new link and content
    $nexthash = ($(this.hash));
    $active = $('.features-btn[href=' + $nexthash.selector + ']');
    $content = $(this.hash);

    // Make the tab active.
    $active.addClass('active');
    $content.addClass('active');

    // Prevent the anchor's default click action
    e.preventDefault();
  });
});

//var video1 = document.getElementById("video1");
function playPause(videoName) {
  var video = document.getElementById(videoName)
  if (video.paused) {
    video.play();
    // $('#' + videoName).attr('controls', 'true');
    $('#' + videoName).next('.video-play').hide();
  } else {
    video.pause();
    $('#' + videoName).next('.video-play').show();
  }
}
function pauseAll() {
  $('video').each(function() {
    this.pause();
    $(this).next('.video-play').show();
  });
  //Pause the youtube embed too
  $('.youtube-video').each(function(){
    this.contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*')
  });
}
</script>

<script>
$(document).ready(function() {
  //Cache reference to window and animation items
  var $autoplay_video = $('#synchronized-video');
  var $window = $(window);
  $window.on('scroll', check_if_in_view);
  $window.on('scroll resize', check_if_in_view);
  $window.trigger('scroll');

  function check_if_in_view() {
    var window_height = $window.height();
    var window_top_position = $window.scrollTop();
    var window_bottom_position = (window_top_position + window_height);

    $.each($autoplay_video, function() {
      var $element = $(this);
      var element_height = $element.outerHeight();
      var element_top_position = $element.offset().top;
      var element_bottom_position = (element_top_position + element_height);

      //check to see if this current container is within viewport
      if (element_top_position + 160 <= window_bottom_position) {
        $autoplay_video[0].play();
        $autoplay_video.next('.video-play').hide();
        //remove listener after autoplay triggers once
        $window.off('scroll', check_if_in_view);
        $window.off('scroll resize', check_if_in_view);
      }
    });
  }
});
</script>
