{% comment %}
  Usage: <div class="social-links social-links--white">{% include 'social-links' %}</div>
{% endcomment %}

<a class="social-links__item" href="{{ settings.facebook_url }}">
  <svg class="icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
</a>
<a class="social-links__item" href="{{ settings.instagram_url }}">
  <svg class="icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
</a>
<a class="social-links__item" href="{{ settings.twitter_url }}">
  <svg class="icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
</a>
<a class="social-links__item" href="{{ settings.pinterest_url }}">
  <svg class="icon-pinterest"><use xlink:href="#icon-pinterest"></use></svg>
</a>
<a class="social-links__item" href="{{ settings.tumblr_url }}">
  <svg class="icon-tumblr"><use xlink:href="#icon-tumblr"></use></svg>
</a>
<a class="social-links__item" href="{{ settings.youtube_url }}">
  <svg class="icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
</a>
