<div class="basic-content-wrapper">
  <ul class="chapter-links">
        <li class="anchor-link" data-scroll="#Mattresses-Futon">Mattresses, Toppers, Futon</li>
        <li class="anchor-link" data-scroll="#Product_Benefits">Product Benefits</li>
        <li class="anchor-link" data-scroll="#About_Airfiber">About Airfiber</li>
        <li class="anchor-link" data-scroll="#Product_Specs">Product Specs</li>
        <li class="anchor-link" data-scroll="#Wash_Instructions">Wash Instructions</li>
        <li class="anchor-link" data-scroll="#Showrooms">Showrooms</li>
        <li class="anchor-link" data-scroll="#Warranty">Warranty</li>
        <li class="anchor-link" data-scroll="#Ordering_Online">Ordering Online</li>
        <li class="anchor-link" data-scroll="#Shipping">Shipping</li>
        <li class="anchor-link" data-scroll="#Recycling_Fee">Recycling Fee</li>
        <li class="anchor-link" data-scroll="#Product_Returns">Product Returns</li>
  </ul>
  
  <div class="rte">
    <section id="Mattresses-Futon">
      <h4>Mattresses, Toppers, Futon</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'Mattresses-Futon' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
    <section id="Product_Benefits">
      <h4>Product Benefits</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'Product_Benefits' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
    <section id="About_Airfiber">
      <h4>About Airfiber</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'About_Airfiber' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
    <section id="Product_Specs">
      <h4>Product Specs</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'Product_Specs' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
    <section id="Wash_Instructions">
      <h4>Wash Instructions</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'Wash_Instructions' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
    <section id="Showrooms">
      <h4>Showrooms</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'Showrooms' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
    <section id="Warranty">
      <h4>Warranty</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'Warranty' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
    <section id="Ordering_Online">
      <h4>Ordering Online</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'Ordering_Online' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
    <section id="Shipping">
      <h4>Shipping</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'Shipping' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
    <section id="Recycling_Fee">
      <h4>Recycling Fee</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'Recycling_Fee' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
    <section id="Product_Returns">
      <h4>Product Returns</h4>
      {% for block in section.blocks %}
      <div class="rte">
        {% case block.type %}
        {% when 'Product_Returns' %}
          <div class="acc__card">
            <h5 class="acc__title faq-question"><span>{{ block.settings.question }}</span></h5>
            <div class="acc__panel" style="display: none">
              {{ block.settings.answer }}
            </div>
          </div>
        {% endcase %}
      </div>
      {% endfor %}
    </section>
  </div>
</div>


{% schema %}
  {
    "blocks": [
      {
        "type": "Mattresses-Futon",
        "name": "Mattresses-Futon",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      },
      {
        "type": "Product_Benefits",
        "name": "Product Benefits",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      },
      {
        "type": "About_Airfiber",
        "name": "About airfiber",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      },
      {
        "type": "Product_Specs",
        "name": "Product Specs",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      },
      {
        "type": "Wash_Instructions",
        "name": "Wash Instructions",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      },
      {
        "type": "Showrooms",
        "name": "Showrooms",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      },
      {
        "type": "Warranty",
        "name": "warranty",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      },
      {
        "type": "Ordering_Online",
        "name": "Ordering Online",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      },
      {
        "type": "Shipping",
        "name": "Shipping",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      },
      {
        "type": "Recycling_Fee",
        "name": "Recycling Fee",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      },
      {
        "type": "Product_Returns",
        "name": "Product Returns",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "question"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "answer"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}