<div class="basic-header comparison"></div>
<div class="landing-compare__wrapper" style="margin-bottom: 60px">
  <div class="landing-header">
    <h1 class="landing-header__title">Spring Cleaning Sale</h1>
    <p class="landing-header__copy" style="max-width: 1200px; margin: 0 auto;">There's no better time to try our 100% Washable mattresses and toppers than now! We're doing our own spring cleaning to make room for new product so enjoy savings up to 25% off on our flagship mattress and topper.  Quantities and sizing are limited! Free shipping & returns (within the contiguous 48 states) + 100 night trials still apply.</p>
  </div>
  <br>
  <div class="hide-small">
    <!-- Mattress -->
    <div class="comparison-row">
      <div class="compare">
        <div class="compare__container">
          <div class="compare__product">
            <div class="compare__contain">
              <div class="thumbnail__product">
                <img class="compare__product-image" src="{{ 'airweaveMattress8-5.jpg' | asset_url }}" alt="Image">
                <h3 class="compare__product-title">airweave Mattress</h3>
                <div class="compare__product-price">
                  <h3 class="collection-extras-block-price">$910 - $1,352</h3>
                  <h3 class="collection-extras-compare-at-price">$1,070 - $1,610</h3>
                </div>
                <p class="compare__product-sizes">
                </p>
                <a class="compare__product-btn hp-trusted-by-link" href="/products/airweave-8-5-mattress">Shop Mattress</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="details">
          <div class="details__container">
            <div class="details__product" data-mattress="top">
              <h3 class="details__product-title">airweave Top Mattress</h3>
              <div class="details__product-top">  
                <div class="column__container">
                  <h3 class="column__title" >Firmness</h3>
                  <img class="column__image" src="{{ 'Firmness_Top.jpg' | asset_url}}" alt="">
                  <p class="column__info">
                    Standard firmness throughout
                  </p>
                </div>
                <div class="cover__container">
                  <h3 class="cover__title">Cover</h3>
                  <img class="cover__image" src="{{ 'Cover_Top.png' | asset_url}}" alt="">
                  <p class="cover__info">
                    Breathable Mesh <br>
                  </p>
                </div>
                <div class="airfiber__product">
                  <h3 class="airfiber__product-title">AIRFIBER&reg; THICKNESS</h3>
                  <div class="airfiber__product-image">
                    <img src="{{ 'Airfiber_Top.jpg' | asset_url}}" alt="Image" style="width: 25%">
                  </div>
                  <p class="airfiber__product-depth">7.8"</p>
                  <h3 class="airfiber__product-title">Total Thickness</h3>
                  <p class="airfiber__product-description">8.5"</p>
                </div>
                
                <!--<div class="airfiber__product">
                  <h3 class="airfiber__product-title">AIRFIBER&reg; THICKNESS</h3>
                  <div class="airfiber__product-image">
                    <img src="{{ 'Airfiber_Top.jpg' | asset_url}}" alt="Image" style="width: 70%">
                  </div>
                  <p class="airfiber__product-depth" style="border-bottom: none">8.5"</p>
                </div>-->
              </div>
              <div class="details__product-bottom"> 
                <p>
                    Standard model providing extra support, breathability, and ease of movement so you exert less energy and wake up feeling more refreshed. This version will be discontinued & sizes out of stock will not be back.
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Top Mattress Classic -->
    <div class="comparison-row">
      <div class="compare">
        <div class="compare__container">
          <div class="compare__product">
            <div class="compare__contain">
              <div class="thumbnail__product">
                <img class="compare__product-image" src="{{ 'top-mattress-slide-1_340x.png' | asset_url }}" alt="Image">
                <h3 class="compare__product-title">airweave Top Mattress Classic</h3>
                <div class="compare__product-price">
                  <h3 class="collection-extras-block-price">$458 - $660</h3>
                  <h3 class="collection-extras-compare-at-price">$610 - $880</h3>
                </div>
                <p class="compare__product-sizes">
                </p>
                <a class="compare__product-btn hp-trusted-by-link" href="/products/airweave-top-mattress-classic">Shop Top Mattress Classic</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="details">
          <div class="details__container">
            <div class="details__product" data-mattress="top">
              <h3 class="details__product-title">airweave Top Mattress</h3>
              <div class="details__product-top">  
                <div class="column__container">
                  <h3 class="column__title" >Firmness</h3>
                  <img class="column__image" src="{{ 'Firmness_Classic.jpg' | asset_url}}" alt="">
                  <p class="column__info">
                    Standard firmness throughout
                  </p>
                </div>
                <div class="cover__container">
                  <h3 class="cover__title">Cover</h3>
                  <img class="cover__image" src="{{ 'Cover_Classic.jpg' | asset_url}}" alt="">
                  <p class="cover__info">
                    Breathable Mesh <br>
                  </p>
                </div>
                <div class="airfiber__product">
                  <h3 class="airfiber__product-title">AIRFIBER&reg; THICKNESS</h3>
                  <div class="airfiber__product-image">
                    <img src="{{ 'Airfiber_Classic.png' | asset_url}}" alt="Image" style="width: 70%">
                  </div>
                  <p class="airfiber__product-depth">1.6"</p>
                  <h3 class="airfiber__product-title">Total Thickness</h3>
                  <p class="airfiber__product-description">1.8"</p>
                </div>
              </div>
              <div class="details__product-bottom"> 
                <p>
                  Take $100 off already reduced price with promo code CLASSIC100. Add support and cooling to your existing mattress. This is the older version of the airweave Top Mattress and is .2" thinner. Size King only.
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
    
  </div>
  <div class="small-only">
  {% include 'sale-tabs-mobile' %}
  </div>
  
  
</div>

{% schema %}
  {
    "name": "Compare products",
    "class": "index-section",
    "settings": [
      {
        "type": "radio",
        "id": "slides_to_show",
        "label": "Select how many slides to show",
        "options": [
          { "value": "4", "label": "4 slides" }
        ],
        "default":   "4"
      }
    ],
    "blocks": [
      {
        "type": "product_block",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Choose a product to show"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection",
        "category": "Landing Page"
      }
    ]
  }
{% endschema %}
