<div class="hp-trusted-by">
  <h2 class="hp-trusted-by-header">{{ section.settings.heading }}</h2>
  <div class="hp-trusted-by-logos">
    {% for block in section.blocks %}
      <div class="hp-trusted-logo-wrapper">
        <div class="box__bottom">{{ block.settings.message }}</div>
        <div class="box__center">
          <img class="hp-trusted-logo lazyload" data-src="{{ block.settings.image | img_url: 'master' }}">
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="hp-trusted-by-slider">
    {% for block in section.blocks %}
      <div class="hp-trusted-by-slide">
        <div class="hp-trusted-by-slide-content">
          <img class="hp-trusted-logo lazyload" data-src="{{ block.settings.image | img_url: 'master' }}">
        </div>
        <p class="hp-trusted-by-slide-message">{{ block.settings.message }}</p>
      </div>
    {% endfor %}
  </div>
  <a class="hp-trusted-by-link" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
</div>

{% schema %}
  {
    "name": "Partners Logos",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Trusted By The World's Elite"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button text",
        "default": "Shop All Mattresses"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "blocks": [
      {
        "type": "logo_block",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "message",
            "label": "Hover message"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Partners Logos",
        "category": "Homepage",
        "blocks": [
          {
            "type": "logo_block"
          },
          {
            "type": "logo_block"
          },
          {
            "type": "logo_block"
          },
          {
            "type": "logo_block"
          }
        ]
      }
    ]
  }
{% endschema %}